.navigation {
  padding: 16px 24px;
  background: #f8f8f8;
}

.listItem {
  color: #333;
}
.list {
  list-style: none;
  display: flex;
  gap: 16px;
}
.link {
  background: #333;
  color: #fff;
  padding: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  gap: 32px;
  align-items: center;
}
.user button {
  background: #333;
  color: #fff;
  padding: 12px;
}
